.cards__like-btn_active {
  background-image: url(../../../../images/likeactive.svg);
  background-repeat: no-repeat;
  width: 22px;
  height: 19px;
  border: none;
  background-color: transparent;
  align-self: center;
  padding: 0;
  opacity: 1;
}