.footer {
  max-width: 100%;
  margin: 0 auto;
}

@media screen and (max-width: 1023px) {
  .footer {
    max-width: 70%;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    max-width: 95%;
  }
}

@media screen and (max-width: 650px) {
  .footer {
    max-width: 282px;
  }
}
