.popup__form {
  margin: 54px auto;
  width: 358px;
}

@media screen and (max-width: 650px) {
  .popup__form {
    margin-top: 30px;
  }
}

@media screen and (max-width: 420px) {
  .popup__form {
    margin-top: 75px;
  }
}